* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{	
	font-family: 'TT Lakes',"Roboto", "Arial", sans-serif;
	font-size: 16px;
}
.section{
	max-width: 320px;	
	height: 100vh;
	padding: 25px;
	box-shadow: -2px 0px 4px rgba(69, 79, 126, 0.02), 16px 0px 52px rgba(14, 24, 80, 0.2);
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	overflow-y: auto;	
}
.header-wrapper{
	display: flex;
	width: 100%;
	justify-content: space-between;
	align-items: center;
}
.header-button-wrapper{
	display: flex;
	align-items: center;
}
.menu-list{
	list-style: none;
	position: relative;
}
.menu-list__item{
	margin-top: 32px;
}
.menu-list__link{
	text-decoration: none;
	color:  #1B1C21;
}
.menu-list__item:hover .menu-list__link{
	color:#FF3E79;
}
.menu-list__link--active{
	color: #7E7E82;
}
.menu-list__item--active:before{
	position: absolute;
	top: -7px;
	left: -25px;
	height: 32px;
	width: 4px;
	content: "";
	display: block;
 	background-color: #41F6D7;	 	
 	border-top-right-radius: 5px;
 	border-bottom-right-radius: 5px;	 
}
.info-bottom{
	margin-top: 20px;
}
.mail-bottom{
	margin-top: 15px;
}
.mail__e-mail{
	text-decoration: none;
	color:  #1B1C21;
}
.tel-number{
	margin-top: 15px;
}
.change-lang-block{
	margin-top: 30px;
}
.contacts__telephone{
	font-size: 24px;
	font-weight: bold;
	text-decoration: none;
	color:  #1B1C21;
}
.link-wrapper__item{
	text-decoration: none;
	color:#1B1C21;
}
.link-wrapper__item--active{
	color:#7E7E82;
}
.icon-buttons__call-btn, 
.icon-buttons__mess-btn {
	margin-right: 10px;
}
.button:hover{
	opacity: 0.8;
	transition-duration: 0.5s;
	cursor:pointer; 
}
.button{
	background-color: #FF3E79;
	height: 40px;
	width: 40px;
	background-image: url(img/icon-mess.svg) ;
	background-repeat: no-repeat;
	border-radius: 20px;
	border:0px;
	background-position: center;
}
.header-button-wrapper__btn-icon{	
	background-image: url(img/buger-x.svg) ;
	margin-right: 15px;
}	
.header-wrapper__search-btn{	
	background-image: url(img/search-icon.svg) ;	
}
.icon-buttons__call-btn{	
	background-image: url(img/icon-call.svg) ;	
}
.icon-buttons__mess-btn{
	background-image: url(img/icon-mess.svg) ;	
}
.icon-buttons__profile-btn{
	background-image: url(img/people-icon.svg) ;
}